if title
	+e("h2").title!=title
+e.section
	+e.label 01. Colors
	p Primary colors for the site were taken from the company logo.
	+e.colors
		+e.colors-item
			+e.colors-label
			+e.colors-title #FABC43
		+e.colors-item
			+e.colors-label._blue
			+e.colors-title #07203E
		+e.colors-item
			+e.colors-label._gray
			+e.colors-title #ADADAD
+e.section
	+e.label 02.Typography
	p Primary colors for the site were taken from the company logo.
	+e.image
		+e("img").image-i(src="assets/i/typo-ua.png" alt="")
+e.section
	+e.label 03.Photos
	p One of the advantages of the Agency was the opportunity to conduct training at the National Sports Complex "Olympic", also known as the Kiev Olympic Stadium. Therefore, I decided to organize a photo session with athletes there, to show future clients a training place.
	+e.photo
		+e.photo-wrap
			+e.photo-image._1
				+e.photo-image-i._1
			+e.photo-image._2
				+e.photo-image-i._2
		+e.photo-wrap
			+e.photo-image._2
				+e.photo-image-i._3
			+e.photo-image._1
				+e.photo-image-i._4
+e.section
	+e.label 04. Final result - screenshots
	+e.image
		+e("img").image-i(src="assets/i/UA-slide-1-min.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/UA-slide-2-min.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/UA-slide-3-min.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/UA-slide-4-min.jpg" alt="")

