.promo
	position relative
	z-index 4
	&__bg
		&-image
			position absolute
			top 0
			left 0
			width 100%
			height @width
			background-repeat no-repeat
			background-size cover
			background-position 0 0
		&-el
			position absolute
			&_1
				@media desktop
					top 0
					left 68%
					width 207px
					height 190px
				@media sm
					top 80px
					width 177px
					height 162px
				@media tablet
					left 73%
					width 167px
					height 154px
				@media phone
					top -10px
					left 67%
					width 85px
					height 80px
				@media phone_landscape
					top 40px
				.promo__bg-image
					background-image url('/assets/i/cross.svg')
			&_2
				@media desktop
					top 400px
					left 78%
					width 334px
					height 270px
				@media sm
					top 440px
					left 78%
					width 244px
					height 200px
				@media tablet
					top 400px
					left 79%
					width 195px
					height 161px
				@media phone
					display none
				.promo__bg-image
					background-image url('/assets/i/cylinder.svg')
			&_3
				@media desktop
					top -230px
					left 40%
					width 178px
					height 216px
				@media sm
					top -160px
					left 35%
					width 137px
					height 167px
				@media tablet
					top -230px
					left 30%
					width 137px
					height 167px
				@media phone
					display none
				.promo__bg-image
					background-image url('/assets/i/rectangle.svg')
			&_4
				@media desktop
					top 554px
					left -27px
					width 356px
					height 197px
				@media sm
					top 546px
					left -67px
					width 296px
					height 164px
				@media tablet
					top 546px
					left -67px
					width 296px
					height 164px
				@media phone
					top 420px
					left -30px
					width 148px
					height 82px
				@media phone_landscape
					top 270px
				.promo__bg-image
					background-image url('/assets/i/wave.svg')
			&_5
				display: none
				@media desktop
					top 950px
					left 70%
					width: 198px
					height: 126px
					transform: rotate(36deg)
	&__inner
		position relative
		@media desktop
			padding-top 105px
			height 1170px
		@media sm
			height 870px
			padding-top: 10px
		@media tablet
			padding-top: 150px
			height: 1050px
		@media phone
			padding-top 55px
			height 650px
		@media phone_landscape
			padding-top 25px
			height 440px
			//height 100vh
	&__content
		padding-top 60px
		position relative
		z-index 3
		@media desktop
			width 65%
		@media tablet
			width 80%
		@media phone_landscape
			padding-top: 20px
		//@media phone
		//	order 1
		//	text-align center
	//&__title
	//	@media desktop
	//		letter-spacing 4pt
	//	@media sm
	//		letter-spacing 2pt
	//		font-size 70px
	//	@media tablet
	//		letter-spacing 2pt
	//		font-size 60px
	//	@media phone
	//		margin-bottom 5px
	//		font-size 28px
	&__label
		color #e2211c
		@media tablet_desktop
			margin-bottom 40px
			font-size 30px
		@media phone
			margin-bottom 10px
			font-size 16px
	&__images
		z-index 1
		pointer-events none
		@media tablet_desktop
			position absolute
		@media phone
			order 2
		@media desktop
			top 95px
			width 895px
			height 1052px
		@media md_lg
			right -300px
		@media sm
			width 800px
			right -320px
		@media tablet
			top 70px
			right -370px
			width 626px
			height 798px
		@media phone
			right -260px
			width 365px
			height 465px
		&-i
			max-width 100%
			max-height @max-width
		&-item
			@media phone
				position absolute
				right -20px
	&__text
		@media desktop
			font-size 26px
			line-height 1.8
		@media tablet
			font-size 24px
		@media phone
			font-size 20px
			margin-right 5px


