+e.bg
	+e.bg-el._1
		+e.bg-image.layer(data-depth="0.2")
	+e.bg-el._2
		+e.bg-image.layer(data-depth="0.15")
+e("h2").title!= title
+e.content
	if text
		+e.info
			+e.text!= text
			+e("a").link._cv(href="/assets/i/tania-korab-cv.jpg" download="tania-korab-cv.jpg") Download CV
	+e.image
		+e("img").image-i(src=image alt="")

