.about
	pointer-events auto!important
	@media desktop
		padding-top 400px
	@media sm
		padding-top 300px
	@media tablet
		padding-top 300px
	@media phone
		padding-top 200px
	&__bg
		position absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		&-image
			position absolute
			top 0
			left 0
			width 100%
			height @width
			background-repeat no-repeat
			background-size cover
			background-position 0 0
		&-el
			position absolute
			&_1
				@media desktop
					top 100px
					left 40%
					width 260px
					height 178px
				@media sm
					top 100px
					left 48%
					width 175px
					height 118px
				@media tablet
					top 75px
					left 40%
					width 211px
					height 143px
				@media phone
					top 65px
					left 40%
					width 105px
					height 71px
				.about__bg-image
					background-image url('/assets/i/saturn.svg')
			&_2
				@media desktop
					top 995px
					left 50%
					width 184px
					height 174px
				@media sm
					top: 969px
					left: 50%
					width: 131px
					height: 120px
				@media tablet
					top 945px
					left 50%
					width 125px
					height 113px
				@media phone
					top: 1075px
					left: 10%
					width: 84px
					height: 79px
				.about__bg-image
					background-image url('/assets/i/cross-blue.svg')
	&__content
		position relative
		z-index 3
		@media tablet_desktop
			display flex
			justify-content space-between
	&__info
		@media desktop
			width 60%
			padding-right 10px
		@media tablet
			width 85%
			padding-right 20px
		@media phone
			margin-bottom 45px
	&__text
		@media tablet_desktop
			margin-bottom 20px
		@media phone
			line-height 1.5
			margin-bottom 10px
	&__link
		display inline-block
		color linkColor
		text-decoration none
		font-weight 700
		border-bottom 3px solid
		transition border-color .2s ease-in-out
		border-color transparent
		line-height 1.3
		&:hover
			border-color linkColor
		&_cv
			font-size 34px
			@media tablet
				font-size 30px
			@media phone
				font-size 24px
	&__image
		border-radius 3px
		margin-top 15px
		&-i
			@media desktop
				box-shadow 0 12px 40px 10px rgba(3, 3, 3, 0.11)
				width 100%
				max-height 100%
			@media phone_tablet
				box-shadow 0 12px 40px 10px rgba(3, 3, 3, 0.11)
				width 100%
			@media phone_landscape
				width inherit
				max-width 100%

