if title
	+e("h2").title!=title
if text
	+e("p").text!=text
if link && linkUrl
	+e.links
		+e.links-wrap
			+e("a").link.fancybox(data-fancybox="gallery", href=linkUrl)!=link
		if link2 && linkUrl2
			+e("a").link.fancybox(data-fancybox="gallery", href=linkUrl2)!=link2
if image1
	+e.wrap
		+e.image
			+e("img").image-i(src=image1 alt="")
		if image2
			+e.image
				+e("img").image-i(src=image2 alt="")
if list
	+e("ul").list
		each subItem in list
			+e("li").list-item
				if subItem.name
					+e.list-title!=subItem.name
if text2
	+e("p").text!=text2
if link3 && linkUrl3
	+e("a").link.fancybox(data-fancybox="gallery", href=linkUrl3)!=link3
