+e("h2").title!= title
if data
	+e.content
		each item in data
			if item.itemUrl
				+e("a").item(href=item.itemUrl)
					+e("div").item-wrap
						if item.image
							+e("div").item-image
								+e("img").item-image-i(src=item.image alt="")
							+e.item-content
								if item.scope
									+e("div").item-scope!=item.scope
								if item.name
									+e("div").item-name!=item.name
								if item.info
									+e.item-box
										+e("div").item-info!=item.info
										+e("div").item-link Read more