.footer
	position relative
	pointer-events auto !important
	@media tablet_desktop
		padding 250px 0
	@media desktop
		min-height 850px
	@media sm
		min-height 650px
	@media phone
		padding 200px 0
	@media phone_landscape
		padding 100px 0
	&__bg
		position absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		&-image
			position absolute
			top 0
			left 0
			width 100%
			height @width
			background-repeat no-repeat
			background-size cover
			background-position 0 0
		&-el
			position absolute
			&_1
				@media tablet_desktop
					top 0
					left 80%
				@media desktop
					width 180px
					height 200px
				@media sm
					width 140px
					height 148px
				@media tablet
					width 140px
					height 148px
				@media phone
					top 20px
					left 60%
					width 93px
					height 101px
				@media phone_landscape
					left 75%
				.footer__bg-image
					background-image url('/assets/i/triangle.svg')
			&_2
				left -5%
				@media desktop
					top 485px
					width 200px
					height 204px
				@media sm
					top 440px
					width 170px
					height 174px
				@media tablet
					top 440px
					width 170px
					height 174px
				@media phone
					top 448px
					width 115px
					height 118px
				@media phone_landscape
					top 285px
				.footer__bg-image
					background-image url('/assets/i/circle.svg')
	&__content
		display flex
		align-items baseline
		position: relative
		z-index 30
		@media phone
			flex-direction column
	&__separator
		font-weight 600
		@media tablet_desktop
			padding 0 10px
	&__link
		color linkColor
		text-decoration none
		font-size 32px
		border-bottom 3px solid
		transition border-color .2s ease-in-out
		border-color transparent
		font-weight: 700
		line-height 1.3
		@media tablet
			font-size 30px
		@media phone
			font-size 24px
		&:hover
			border-color linkColor
	&__mail
		color linkColor
		font-size 32px
		font-weight: 700
		line-height 1.3
		@media tablet
			font-size 30px
		@media phone
			font-size 24px