+e.bg
	+e.bg-el._1
		+e.bg-image.layer(data-depth="0.1")
	+e.bg-el._2
		+e.bg-image.layer(data-depth="0.15")
.container
	+e("h2").title!= title
	+e.content
		+e("span").mail tania.korab@gmail.com
		+e.separator or
		+e("a").link(href="https://www.linkedin.com/in/tetiana-rybacuk-057b29b6/" target="_blank") linkedin
