.company
	padding-top 105px
	position relative
	z-index 4
	background-color #fff
	@media sm
		padding-top 30px
	@media tablet
		padding-top 40px
	@media phone
		padding-top 110px
	&__title
		margin-bottom 20px
	&__bg
		&-image
			position absolute
			top 0
			left 0
			width 100%
			height @width
			background-repeat no-repeat
			background-size cover
			background-position 0 0
		&-el
			position absolute
			&_2
				@media desktop
					top 200px
					right -25%
					width 334px
					height 331px
				@media sm
					top 110px
					right -25%
					width 334px
					height 331px
				@media tablet
					top 210px
					right -31%
					width 334px
					height 331px
				@media phone
					top: 195px
					width: 153px
					height: 151px
					right -90px
				.company__bg-image
					background-image url('/assets/i/circle-6.svg')
			&_3
				@media desktop
					top -230px
					left 55%
					width 180px
					height 200px
				@media tablet
					top -130px
					left 55%
					width 180px
					height 200px
				@media phone
					top -30px
					left 70%
					width 87px
					height 94px
				@media phone_landscape
					top -70px
					left 70%
					width 87px
					height 94px
				.company__bg-image
					background-image url('/assets/i/triangle.svg')
			&_4
				@media desktop
					left -100px
				@media tablet_desktop
					width 178px
					height 217px
					top 400px
				@media sm
					left -55px
					top 320px
				@media tablet
					top 470px
					left -30px
				@media phone
					width 110px
					height 134px
					top 290px
					left -35px
				.company__bg-image
					background-image url('/assets/i/rectangle-yellow.svg')
	&__inner
		position relative
		@media desktop
			height 810px
		@media sm
			height 740px
		@media tablet
			padding-top 150px
			height 915px
		@media phone
			padding-top 60px
			height 650px
			display flex
			flex-direction column
	&__content
		position relative
		z-index 3
		@media desktop
			padding-top 70px
			width: 70%
		@media tablet
			padding-top 100px
			width: 77%
	&__title
		//@media tablet
		//	margin: 0 0 25px
		//	letter-spacing: 1pt
		//	font-size: 40px
		//@media phone
		//	margin-bottom 5px
	&__label
		color #e2211c
		@media tablet_desktop
			margin-bottom 40px
			font-size 30px
		@media phone
			margin-bottom 10px
			font-size 16px
	&__images
		z-index 1
		pointer-events none
		@media tablet_desktop
			position absolute
		@media phone
			order 2
		@media desktop
			top 95px
			width 895px
			height 1052px
		@media md_lg
			right -300px
		@media sm
			width 800px
			right -320px
		&-i
			max-width 100%
			max-height @max-width
		&-item
			@media phone
				position absolute
			right -20px
	&__text
		@media desktop
			font-size 26px
			line-height 1.8
		@media tablet
			font-size 24px
		@media phone
			font-size 20px
			margin-right 5px

