+e.inner
	+e.bg
		+e.bg-el._2
			+e.bg-image.layer(data-depth="0.4")
		+e.bg-el._3
			+e.bg-image.layer(data-depth="0.25")
		+e.bg-el._4
			+e.bg-image.layer(data-depth="0.5")
	.container
		+e.content
			if title
				+e("h1").title!= title
			if label
				+e.label!= label
			if text
				+e.text!= text