.link-box
	margin-bottom 70px
	&__item
		color linkColor
		text-decoration none
		border-bottom 4px solid
		transition border-color .2s ease-in-out
		border-color transparent
		font-weight: 700
		line-height 1.3
		@media desktop
			font-size 50px
		@media tablet
			font-size 30px
		&:hover
			border-color linkColor