.contacts
	padding 250px 0 250px
	position relative
	pointer-events auto !important
	&__bg
		position absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		&-image
			position absolute
			top 0
			left 0
			width 100%
			height @width
			background-repeat no-repeat
			background-size cover
			background-position 0 0
		&-el
			position absolute
			&_1
				top 0px
				left 80%
				width 180px
				height 200px
				.contacts__bg-image
					background-image url('/assets/i/triangle.svg')
			&_2
				top 485px
				left -9%
				width: 200px
				height: 204px
				.contacts__bg-image
					background-image url('/assets/i/circle.svg')
	&__content
		display flex
		align-items baseline
		position: relative
		z-index 30
	&__separator
		padding 0 10px
	&__link
		color linkColor
		text-decoration none
		font-size 32px
		border-bottom 3px solid
		transition border-color .2s ease-in-out
		border-color transparent
		font-weight: 700
		line-height 1.3
		&:hover
			border-color linkColor