if title
	+e("h2").title!=title
+e.section
	+e.image
		+e("img").image-i(src="assets/i/oleks-1.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/oleks-2.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/oleks-3.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/oleks-4.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/oleks-5.jpg" alt="")
	+e.image
		+e("img").image-i(src="assets/i/oleks-6.jpg" alt="")

