+e("h2").title!= title
if data
	+e.content
		each item, i in data
			+e.item
				+e.item-wrap
					if item.text
						+e("h3").item-text!= item.text
					if item.image
						+e.item-image
							+e("img").item-image-i(src=item.image alt="")
					if item.list
						+e("ul").list
							each subItem in item.list
								+e("li").list-item
									if subItem.name
										+e.list-title!=subItem.name
