.skills
	display: block
	@media tablet_desktop
		padding-top 300px
	@media phone
		padding-top 250px
	&__title
		font-weight 700
	&__content
		@media tablet_desktop
			display flex
			flex-wrap nowrap
		@media deskop
			width 86%
	&__item
		@media tablet_desktop
			width 33.33%
			padding-right 20px
		@media phone
			margin-bottom 30px
		&-text
			font-weight 700
			letter-spacing 1pt
			@media tablet_desktop
				margin-bottom 30px
			@media phone
				margin-bottom: 20px
		&-image
			@media tablet_desktop
				margin-bottom 25px
			@media phone
				margin-bottom 10px
			&-i
				@media phone
					width 70px
					height @width
	&__list
		list-style none
		padding 0
		margin 0
		&-item
			@media tablet_desktop
				margin-bottom 10px
			@media phone
				margin-bottom: 5px