//---
	layout: layouts/works

//---

.container
	+b.company: +i({
		title: "United Athletes",
		text: "UI/UX of a landing page for Ukrainian Marathon training agency. "
	})
	.box
		+b.info-box: +i({
			title: "Problem",
			text: "Ukrainian marathon training agency needed to create responsive landing page for increased business capabilities. They have had only Facebook page & it were quite difficult to control and manage different types of servises, aslo was impossible to made payments."
		})
		+b.info-box: +i({
			title: "Analysis",
			text: "I have chosen to compare 5 companies that provide similar services. I analyzed their websites, social media & services which they provides. As a result, I created the report based on this data.",
			link: "Open competitor analysis"
		})
		+b.info-box: +i({
			title: "Survey",
			text: "I wanted to understand the audience better. I ran an online survey using Google Docs with the goal to get in the head of the people who are interested in sport.",
			list:
				[
					{name: "Why were they liking to run & what were the main motivators?"},
					{name: "What were their main hesitations and questions when they was preparing to the marathon? "},
					{name: "What were the most compelling reasons to participate in a marathons?"}
				],
			text2: "I created a report with the answers analysis and the priority of the importance of users needs."
		})
		+b.info-box: +i({
			title: "Prototypes",
			text: "After researching, I was able to create wireframes. After several wireframe versions, I came to the final solution and created a couple prototypes to test them with real users.",
			link: "Open Prototype-1",
			linkUrl: "/assets/i/ua-prot-1.jpg",
			link2: "Open Prototype-2",
			linkUrl2: "/assets/i/ua-prot-2.jpg"
		})
		+b.info-box: +i({
			title: "User Testing",
			text: "Clickable  prototypes were validated by user-shadowing with 4 users from a both target groups. I’ve analyzed users comments and after that created the final prototype. The final prototype also was tested. Five from six people sucsessfuly compleated tasks on user testing. "
		})
		+b.design-box: +i({
			title: "Design"
		})
		+b.link-box: +i({
			linkLabel: "Visit site",
			linkUrl: "https://uathletes.world/"
		})
