//---
	layout: layouts/works

//---

.container
	+b.company: +i({
		title: "Yes center",
		text: "Redesign information architecture & visuals for Ukrainian Education agency abroad."
	})
	.box
		+b.info-box: +i({
			title: "Problem",
			text: "Education abroad agency needed to redesign the existing site. The main problems were that the design looked outdated, site was non-responsive, for users was  difficult to find the relevant information, poor information architecture. The primary goals this web-site were to let pople find information easily and collect visitors emails & phone numbers."
		})
		+b.info-box: +i({
			title: "Analysis",
			text: "At first I made interview with stakeholders. Than I did analysis of the website by conducting a heuristics evaluation based on Jakob Nielsen’s Usability Heuristics. After was competitor analysis - I selected & compared 5 companies who providing similar services. As a result, I created the list of good and bad usability decisions.",
			link: "Open competitor analysis",
			linkUrl: "/assets/i/yes-competitors.jpg"

		})
		+b.info-box: +i({
			title: "Survey",
			text: "I defined two targets groups. The first was students who selected educational programs by themselfs & the second one was parents who looking for programs for their children. I created a survey with a list of questions about problems encountered by users when they were looking for a programs to study abroad."
		})
		+b.info-box: +i({
			title: "Prototypes",
			text: "As a result of the above-mentioned activities, I was able to create a few wireframes. Than I created two clickable prototypes for testing with real users.",
			link: "Open Prototype-1",
			linkUrl: "/assets/i/yes-prot-1.jpg",
			link2: "Open Prototype-2",
			linkUrl2: "/assets/i/yes-prot-2.jpg"


		})
		+b.info-box: +i({
			title: "User Testing",
			text: "Clickable prototypes were validated by user-shadowing with 4 users from a both target groups. I’ve analyzed users comments and after that created the final prototype. The final prototype also was tested. Five from six people sucsessfuly compleated tasks on user testing. "
		})
		+b.info-box: +i({
			title: "Visual Direction",
			text: "After that, the details were finalized I created mockup and the project went to a UI-designer.",
			image1: "assets/i/yes-screen-3.jpg",
			image2: "assets/i/yes-screen-4.jpg"
		})


