//---
	layout: layouts/works

//---

.container
	+b.company: +i({
		title: "HN Jewelry",
		text: "UI/UX of landing page for Smart Bracelet, new product of Jewelry company."
	})
	.box
		+b.info-box: +i({
			title: "Problem",
			text: "I was a student of  Web-design course at Projector Creative & Tech School. Our task was to create a landing page for a new product — JOMO Smart Bracelet from Kikstarter, created by HN Jewelry. They has been creating  jewelry since 1972 & JOMO Smart Bracelet was the next chapter in their story."
		})
		+b.info-box: +i({
			title: "Survay",
			text: "I wanted to understand the audience better. I ran an online survey using Google Docs with the goal to get in the head of the people who are interested in sport.",
			list:
				[
					{name: "At which occasions do you wear a fashion jewelry?"},
					{name: "Do you use gadgets?"},
					{name: "How much would you pay for a fashion jewelry? "},
					{name: "Which category of fashion jewelry are you most interested in?"}
				],
			text2: "Based on that answers I started to create first wareframes.",
			link3: "Open Prototype",
			linkUrl3: "/assets/i/jomo-prot.jpg"
		})
		+b.info-box: +i({
			title: "User Testing",
			text: "I created a clickable prototype & test it with three users. Followed comments from users I made improvements on the existing structure & start work on UI."
		})
		+b.design-box-ua: +i({
			title: "Design"
		})
		+b.link-box: +i({
			linkLabel: "Visit site",
			linkUrl: "https://marvelapp.com/44h3270/screen/45993289"
		})

