@import 'typo.styl'
@import 'helpers.styl'
@import 'buttons.styl'
@import 'forms.styl'
@import 'grid.styl'


*
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

html
body
	margin 0
	padding 0
	height 100%
	font-size 100%
	-webkit-text-size-adjust 100%
	font-variant-ligatures none
	-webkit-font-variant-ligatures none
	text-rendering optimizeLegibility
	-moz-osx-font-smoothing grayscale
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	text-shadow rgba(0, 0, 0, .01) 0 0 1px

body
	position relative
	font-family mainFont
	line-height 1.5
	color siteColor
	overflow-x hidden
	@media desktop
		font-size 26px
	@media tablet
		font-size 24px
	@media phone
		font-size 20px


img
	image-rendering -webkit-optimize-contrast
