h1, h2, h3, h4, h5, h6
	font-family titleFont
	font-weight 900

h1
	line-height 1.35
	@media tablet_desktop
		margin 0 0 45px
	@media desktop
		font-size 90px
		letter-spacing 4pt
	@media sm
		letter-spacing 2pt
		font-size 70px
	@media tablet
		letter-spacing 2pt
		font-size 60px
	@media phone
		margin 0 0 25px
		letter-spacing 1pt
		font-size 40px
h2
	letter-spacing 1px
	@media desktop
		margin 0 0 30px
		font-size 80px
	@media sm
		margin 0 0 20px
		font-size 70px
	@media tablet
		margin 0 0 20px
		font-size 70px
	@media phone
		margin 0 0 20px
		font-size 35px
h3
	margin 0 0 20px
	font-size 32px
	letter-spacing 1px
	@media phone
		font-size 26px
h4
	margin 0 0 15px
	font-size 18px
h5
	margin 0 0 15px
	font-size 16px
h6
	margin 0 0 15px
	font-size 14px

p
	margin 0 0 25px
	line-height 1.8

a
	transition .2s color ease-in-out
	&:focus
		outline none

small
	font-size 75%

blockquote
	margin 60px 0
	padding 60px
	border 6px solid #dfeada
	font-size 48px
	line-height 1.1
	text-transform uppercase
	color brandColor
	.slim-wrap &
		margin-left -17%
		margin-right @margin-left
		padding-left calc(17% - 6px)
		padding-right @padding-left

// code
// 	font-family Menlo, Monaco, Consolas, "Courier New", monospace
// 	padding 3px 5px
// 	font-size 80%
// 	color siteColor
// 	background-color #e3fff3
// 	border-radius 2px