extends main

block main
	+b.promo: +i({
		images: promoImages,
		title: "Hey, I'm </br> Tania Korab",
		text: "I'm UI/UX-designer & Front-end developer based in Prague. I'm passionate about creating better experiences through design, to help people live an easier life."
	})
	.container
		+b.works#works: +i({
			title: "Works",
			data: dataWorks
		})
		+b.about#about: +i({
			title: "About me",
			text: "I got Master's degree in sociology & graduated my University with honors.  I'm interested in designing interactive products with a user-centered design process. I have a technical background so I know how to create easy & fast to-develop design. I like to draw pictures by code (here is my <a href='https://codepen.io/Tanya_Rybachuk/' class='about__link' target='_blank'>Codepen</a>), read books and traveling around the world.",
			image: "assets/i/tania-photo.jpg"
		})
		+b.skills: +i({
			title: "Skills",
			data: dataSkills
		})

