
if menu
	+e("nav").menu
		if menuTitle
			h2.sr-only!= menuTitle
		+e.wrap
			+e("a").home(href="/index.html") Back home
			+e("ul").menu-list
				each item, i in menu
					+e("li").menu-item
						+e("a").menu-link(href=item.url)= item.title