.header
	position relative
	z-index: 30
	transition .2s box-shadow ease-in-out
	@media desktop
		height 120px
		padding-top 60px
	@media tablet
		height 50px
		padding-top 30px
	@media phone
		padding-top 30px
		height 40px
	&_simple
		.header__wrap
			justify-content flex-start
		.header__home
			display: block
			text-align left
		.header__menu-list
			display none
	&__inner
		position relative
		@media desktop
			padding 14px 0
		@media sm
			padding-right 60px
		@media phone_tablet
			padding 10px 0
	&__menu
		&-list
			margin 0
			padding 0
			list-style none
			display flex
		&-item
			@media desktop
				margin-right 40px
			@media tablet
				margin-right 20px
			@media phone
				margin-right 10px
			&:last-child
				@media md_lg
					margin-right 0
			&.active
				.header__menu-link
					color brandColor
		&-link
			font-weight 700
			color linkColor
			text-decoration none
			border-bottom 3px solid
			transition border-color .2s ease-in-out
			border-color transparent
			line-height 1.3
			&:hover
				border-color linkColor
			@media tablet
				font-size 24px
	&__wrap
		display: flex
		justify-content flex-end
	&__home
		display none
		font-weight 700
		color linkColor
		text-decoration none
		border-bottom 3px solid
		transition border-color .2s ease-in-out
		border-color transparent
		line-height 1.3
		@media desktop
			font-size 26px
		@media tablet
			font-size 24px
		@media phone
			font-size 20px
		&:hover
			border-color linkColor






